<script type="text/javascript">

    $(document).ready(function () {
        
        $('li.navItems').hover(
            function() {
                $('ul', this).fadeIn('medium', function() {
                    $('ul', this).css('display', 'block');
                });
            },
			 function() {
			            $('ul', this).fadeOut('medium', function() {
			                $('ul', this).css('display', 'none');
			            });
			});    
    });
    

</script>

<ul id="navBar">
    <li class="navItems">
        <a href="#" class="rounded-top-corners top-left-right-borders">Packages</a>
        <ul>
            <li><a href="#">Package 1</a></li>
            <li><a href="#">Package 2</a></li>
            <li><a href="#">Package 3</a></li>
            <li><a href="#">Package 4</a></li>
            <li><a href="#">Package 5</a></li>
        </ul>
    </li>

    <li class="navItems">
        <a href="#" class="rounded-top-corners top-left-right-borders">Gallery</a>
        <ul>
            <li><a href="#">Weddings</a></li>
            <li><a href="#">Birthdays</a></li>
            <li><a href="#">Stag Dos</a></li>
            <li><a href="#">Hen Partys</a></li>
            <li><a href="#">Anniversaries</a></li>
        </ul>
    </li>

    <li class="navItems">
        <a href="#"class="rounded-top-corners top-left-right-borders">Events</a>
        <ul>
            <li><a href="#">Weddings</a></li>
            <li><a href="#">Birthdays</a></li>
            <li><a href="#">Stag Dos</a></li>
            <li><a href="#">Hen Partys</a></li>
            <li><a href="#">Anniversaries</a></li>
        </ul>
    </li>

    <li class="navItems">
        <a href="#" class="rounded-top-corners top-left-right-borders">About us</a>
    </li>

    <li class="navItems">
        <a href="#" class="rounded-top-corners top-left-right-borders">Contact us</a>
    </li>
</ul>
<div style="clear:both"></div>
